@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


.tableheaddesign{
  background: #f6f2f9;
}
.tableheader{
  display: flex;
  flex-direction: row;
  min-width: 650px;
  justify-content: space-between;
}

.buttonstyle{
  height: 40px;
  
}

.buttondiv {
  margin-top: 10px;
}

.header {
  font-weight: 800;
  font-size: larger;
  font-family: 'Alice', serif;
  font-family: 'Merriweather', serif;
}

.text {
  font-family: 'Alice', serif;
  font-family: 'Merriweather', serif;
  font-size: medium;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  color: #000
}
.icon {
  color: #000;
}