@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap");
.tableheaddesign {
  background: #f6f2f9;
}
.tableheader {
  display: flex;
  flex-direction: block;
  justify-content: space-between;
}

.buttonstyle {
  height: 40px;
  border: "4px solid";
}

.buttondiv {
  margin-top: 10px;
  align-items: left;
  justify-content: left;
}

.header {
  font-weight: 800;
  font-size: larger;
  font-family: "Hind Siliguri", sans-serif;
}

.exploreAndCurate {
  font-family: "Merriweather Sans", sans-serif;
}

.text {
  font-family: "Hind Siliguri", sans-serif;
  font-size: medium;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  color: #000;
}
.icon {
  color: #000;
}

.gradient-text {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 28%, #647dee 84%);
  background-clip: text;
  color: transparent;
}
